<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="CarInfors">
    <!-- 전체 -->
    <!-- #{변수명} -->
	<select id="selectAll" parameterType="Map" resultType="Map">
        select *
        from car_infors
        where 1 = 1
	</select>

    <!-- mybatis foreach Map("car_infor_id_list", car_infor_id_list)-->
	<select id="selectInUID" parameterType="Map" resultType="Map">
        select *
        from car_infors
        where 1 = 1
        and car_infor_id in

        <foreach item="car_infor_id" index="index" collection="car_infor_id_list" open="(" separator="," close=")" nullable="true">
            #{car_infor_id}
        </foreach>
	</select>

    <!-- 검색 -->
	<select id="selectSearch" parameterType="Map" resultType="Map">
        select *
        from car_infors
        where 1 = 1
        <choose>
            <when test="search == 'year'">
                <![CDATA[and year > #{words}]]>
            </when>
            <when test="search == 'year'">
                and car_name like CONCAT(#{words}, '%')
            </when>
        </choose>
        ;
    </select>

    <!-- 상세 -->
	<select id="selectByUID" parameterType="Map" resultType="Map">
    select *
    from car_infors
    where car_infor_id = #{car_infor_id}
	</select>

    <!-- 입력 -->
    <!-- insert id="부여하는 이름"-->
    <insert id="insert" parameterType="Map">
    insert into car_infors
    (car_name, year, car_infor_id, company_id)
    values
    (#{car_name}, #{year}, #{car_infor_id}, #{company_id})
    </insert>

    <!-- 수정 -->
    <update id="update" parameterType="Map">
    update car_infors
    set car_name = #{car_name}
    where car_infor_id = #{car_infor_id}
    </update>

    <!-- 삭제 -->
    <delete id="delete" parameterType="Map">
    delete from car_infors
    where car_infor_id = #{car_infor_id}
    </delete>
</mapper>